@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{box-sizing: border-box;}
body{margin: 0;}
.header{
   
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-height: 94px;
    background: black;
    padding: 25px;
    gap: 11px;
    
}
@media (min-width: 540px){
    .header{
        min-height: 242px;
        background: white;
    }
}

   
.logo{
    min-width: 66px;
    min-height: 44px;
    background: #849fff;
}

@media (min-width: 540px){
    .logo{
        min-width: 156px;
        min-height: 78px;
    }
}
    
.input{
    width: 521px;
    min-height: 44px;
    background: #FFFFFF;
    border: 1px solid #000000;
   
  
}
@media (min-width: 540px){
    .input{
        
        min-height: 73px;
    }
}

.button{
    width: 74px;
    height: 44px;
    background: #393939;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    border: none;
    justify-content: center;
}
@media (min-width: 540px){
    .button{
        width: 242px;
        min-height: 73px;

    }
}
.hero{
    display: flex;
    flex-direction: column;
   
}  
@media (min-width: 540px){
    .hero{
       flex-direction: row;
       height: auto;

    }
} 
.inbox-sent{
    display: flex;
    width: 100%;
    height: 61px;
}
@media (min-width: 540px){
    .inbox-sent{
       width: 25%;
       height: 100%;
       flex-direction: column;
       background-color: #C4C4C4;
       align-items: center;
       height: auto;

    }
} 
.inbox{
    width: 50vw;
    height: 100%;
    background: #393939;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    justify-content: center;
    border: none;
}
@media (min-width: 540px){
    .inbox{
        Width: 90%;
        Height:73px;
        margin-top: 30px;
        }
} 
.sent{
    width: 50vw;
    height: 100%;
    background: #888888;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    justify-content: center;
    border: none;
}
@media (min-width: 540px){
    .sent{
        Width: 90%;
        Height:73px;
        margin-top: 30px;
        }
} 
.contenedor{
    width: 100%;
}
.cuerpo{
    width: 100%;
    height: 100%;
    padding: 25px;
    padding-bottom: 100%;
    display: flex;
    flex-direction: column;
    background: #FFF59B;
   
    
}
  
.title{
min-width: 177px;
min-height: 70px;
margin: 0 auto 0 0;
left: 22px;
top: 180px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 60px;
line-height: 70px;

color: #000000;
}
.email1 {   
    max-width: 334px;
    min-height: 73px;
    background: #FFFDE8;
    border: 1px solid #000000;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    margin-top: 13px;
    color: #000000;
    }
